<div class="nav-foot">
  {% for item in site.nav-foot %}
    {% if item.type == "local" %}
      <div id="{{ item.id }}">
        <script>
          var con = document.getElementById('{{ item.id }}')
          var tar = "{{ item.link }}"
          if (!window.location.pathname.endsWith('{{ item.con }}')) {
            tar = "{{ item.other }}"
          }
          con.insertAdjacentHTML('afterbegin',
            "<a href=" + tar + " class=\"nav-foot-link\">{{ item.name }}</a>")
        </script>
      </div>
    {% elsif item.id == "ai-comment" %}
      {% if page.ai-comment %}
        <div>
          <a href="{{ site.baseurl }}{{ item.prefix }}{{ page.ai-comment }}" class="nav-foot-link">{{ item.name }}</a>
        </div>
      {% endif %}
    {% elsif item.id == "ai-back" %}
      {% if page.ai-back %}
        <div>
          <a href="{{ site.baseurl }}{{ item.prefix }}{{ page.ai-back }}" class="nav-foot-link">{{ item.name }}</a>
        </div>
      {% endif %}
    {% else %}
      <div>
        {% if item.type == "home" %}
          <a href="{{ site.baseurl }}{{ item.link }}" class="nav-foot-link">{{ item.name }}</a>
        {% else %}
          <a href="{{ item.link }}" class="nav-foot-link">{{ item.name }}</a>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
