<div class="nav-head">
    <div class="nav-head-button">
    {% for item in site.nav-head %}
        <span class="nav-head-item">
        <a href={{ item.link }}>{{ item.name }}</a>
        </span>
    {% endfor %}
    </div>
    <div class="nav-head-button">
    {% for tag in page.tags %}
        <span class="tag {{ tag }}">
            {% if site.tags contains tag %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
            {% else %}
            {{ tag }}
            {% endif %}
        </span>
    {% endfor %}
    </div>
</div>