<div class="nav-head-wrapper">
  {% if page.category %}
    <div class="nav-head-tags nav-head">
      {% for item in page.category %}
        <a href="{{ site.baseurl }}/category/{{ item }}">
          <span class="nav-head-category category {{item}}">
            {{ item }}
          </span>
        </a>
      {% endfor %}
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag }}">
          <span class="tag headtag {{ tag }}">
            {% if site.tags contains tag %}
              {{ tag }}
            {% else %}
              {{ tag }}
            {% endif %}
          </span>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="nav-head">
      {% for item in site.nav-head %}
        <a href="{{ site.baseurl }}{{ item.link }}">
          <span class="nav-head-item">
            {{ item.name }}
          </span>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
