<div class="post">
  {% if include.list_title %}
    <h2>
      {{ include.list_title }}
    </h2>
  {% endif %}
  <div class="post-list">
    {% for post in site.posts %}
      {% if include.type == "docs" %}
        {% if include.update contains post.title %}
          {% include post.html post=post %}
        {% endif %}
      {% elsif include.type == "tags" %}
        {% if include.tag == "FIN" && post.finished %}
          <div>
            {{ post.finished }}
          </div>
          {% include post.html post=post %}
        {% elsif include.tag == "TBC" %}
          {% unless post.finished %}
            <div>
              {{ post.finished }}
            </div>
            {% include post.html post=post %}
          {% endunless %}
        {% elsif post.tags contains include.tag %}
          {% include post.html post=post %}
        {% endif %}
      {% elsif include.type == "category" %}
        {% if post.category == include.category %}
          {% include post.html post=post %}
        {% endif %}
      {% elsif include.type == "home" %}
        {% if post.post %}
          {% include post.html post=post %}
        {% endif %}
      {% else %}
        {% include post.html post=post %}
      {% endif %}
    {% endfor %}
  </div>
</div>
