<div class="post">
    <h2>最近更新</h2>
    <ul class="post-list">
        {% for post in site.posts %}
            {% if include.docs %}
                {% if include.update contains post.title %}
                    {% include post.html post=post %}
                {% endif %}
            {% else %}
                {% include post.html post=post %}
            {% endif %}
            {% if forloop.index == site.post_max %}
                {% break %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
