<div class="post-card">
  {% assign post = include.post %}
  <div class="post-content">
    <span class="post-meta">
      <span class="date">{{ post.date | date: site.date_format }}</span>
      <a href="{{ site.baseurl }}/category/{{ post.category }}">
        <span class="category {{ post.category }}">{{ post.category }}</span>
      </a>
    </span>
    <a
      class="post-link"
      href="{{ site.baseurl }}/{{ post.target }}"
      title="{{ post.title }}">
      <h2>{{ post.title }}</h2>
      <div class="post-preview">
        {{ post.excerpt | markdownify | truncatewords: site.excerpt_word }}
      </div>
    </a>
  </div>
  {% if post.word_count %}
    <span class="length">{{ post.word_count }}字</span>
  {% endif %}
  <span class="post-meta-tag">
    {% for tag in post.tags %}
      {% if site.tags contains tag %}
        <a href="{{ site.baseurl }}/tags/{{ tag }}">
          <span class="tag {{ tag }}">
            {{ tag }}
          </span>
        </a>
      {% endif %}
    {% endfor %}
    {% if post.ai-comment %}
      <a href="{{ site.baseurl }}/{{ post.ai-comment }}">
        <span class="tag AI评论">
          AI评论
        </span>
      </a>
    {% endif %}
    {% if post.finished %}
      <a href="{{ site.baseurl }}/tags/FIN">
        <span class="tag FIN">
          FIN
        </span>
      </a>
    {% else %}
      <a href="{{ site.baseurl }}/tags/TBC">
        <span class="tag TBC">
          TBC
        </span>
      </a>
    {% endif %}
  </span>
</div>
