<div class="post">
    <h2>最近更新</h2>
    <ul class="post-list">
        {% for post in site.posts %}
            {% if docs %}
                {% unless update contains post.title %}
                    {% include 'post.html' with post as post %}
                {% endunless %}
            {% else %}
                {% include 'post.html' with post as post %}
            {% endif %}
            {% if forloop.index == site.post_max %}
                {% break %}
            {% endif %}
        {% endfor %}
    </ul>
</div>