@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@import "./mystyle.css";

main {
  @apply text-base/relaxed text-base-content/85 max-w-3xl ml-auto mr-auto pl-6 pr-6;
}

h1 {
  @apply text-3xl font-bold text-base-100 mt-4 mb-4;
}

main h1 {
  @apply text-primary text-2xl;
}

h2 {
  @apply text-lg text-secondary;
}

table {
  @apply table table-zebra mt-4 mb-4 ml-0 mr-0 overflow-auto text-nowrap;
}

thead {
  @apply bg-accent/20 text-accent-content/80;
}

post p {
  @apply wrap-break-word;
}

p {
  @apply mt-4.5 mb-4.5;
}

p:first-child {
  @apply mt-1;
}

p:last-child {
  @apply mb-1;
}

sup {
  @apply link link-neutral link-hover;
}

#footnote-label {
  @apply hidden;
}

.footnotes ol {
  @apply list-decimal pl-6 text-base/relaxed;
}

.footnotes li {
  @apply mb-4 mt-4;
}

.nav {
  @apply navbar bg-base-300/80 shadow text-base-content fixed backdrop-blur-sm z-50 gap-2;
}

.nav-btn {
  @apply btn btn-ghost btn-secondary btn-sm;
}

.home-btn {
  @apply btn-primary btn-md;
}
.nav-text {
  @apply text-xs mt-auto mb-auto;
}

.cate {
  @apply badge badge-neutral link link-hover min-w-13 border-0;
}

.dc {
  @apply badge-info badge-soft;
}

.qz {
  @apply badge-error badge-soft;
}

.dr {
  @apply badge-warning;
}

.tk {
  @apply badge-info;
}

.tag {
  @apply ml-0.5 mr-0.5 badge badge-xs badge-neutral badge-soft badge-outline link link-hover text-nowrap;
}

.big-tag {
  @apply badge-md;
}

.tag:nth-child(7n),
.big-tag-div:nth-child(7n) .big-tag {
  @apply badge-success;
}
.tag:nth-child(7n + 1),
.big-tag-div:nth-child(7n + 1) .big-tag {
  @apply badge-accent;
}

.tag:nth-child(7n + 2),
.big-tag-div:nth-child(7n + 2) .big-tag {
  @apply badge-info;
}

.tag:nth-child(7n + 3),
.big-tag-div:nth-child(7n + 3) .big-tag {
  @apply badge-secondary;
}

.tag:nth-child(7n + 4),
.big-tag-div:nth-child(7n + 4) .big-tag {
  @apply badge-error;
}

.tag:nth-child(7n + 5),
.big-tag-div:nth-child(7n + 5) .big-tag {
  @apply badge-primary;
}

.tag:nth-child(7n + 6),
.big-tag-div:nth-child(7n + 6) .big-tag {
  @apply badge-warning;
}

.tag.FIN:nth-child(n) {
  @apply badge-success;
}

.tag.TBC:nth-child(n) {
  @apply badge-warning text-warning;
}

.tag.\32 025蝙绿企划 {
  @apply bg-base-300 text-base-content;
}

.tag.BatLantern {
  @apply text-success bg-success-content;
}

.tag.AI评论 {
  @apply text-[#4d6bfe] bg-base-100;
}

.tag.AI批评 {
  @apply text-base-100 bg-[#4d6bfe];
}

.tag.无CP {
  @apply text-base-content bg-base-200;
}

.tag.蝙家 {
  @apply text-warning bg-warning-content;
}

.tag.JayTim {
  @apply text-error bg-base-100;
}

.tag.灯团 {
  @apply text-success bg-base-100;
}

.tag.叶攻 {
  @apply text-error-content bg-error;
}

.tag.恺楚 {
  @apply text-info bg-base-100;
}

.tag.武侠au {
  @apply text-accent bg-base-100;
}
