@plugin "daisyui/theme" {
  name: "mylight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(95% 0.045 203.388);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(84% 0.143 164.978);
  --color-primary-content: oklch(43% 0.095 166.913);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-content: oklch(42% 0.199 265.638);
  --color-accent: oklch(81% 0.111 293.571);
  --color-accent-content: oklch(43% 0.232 292.759);
  --color-neutral: oklch(43% 0.078 188.216);
  --color-neutral-content: oklch(93% 0.034 272.788);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(88% 0.059 254.128);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(92% 0.084 155.995);
  --color-warning: oklch(55% 0.163 48.998);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(52% 0.223 3.958);
  --color-error-content: oklch(89% 0.061 343.231);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.034 264.665);
  --color-base-200: oklch(27% 0.033 256.848);
  --color-base-300: oklch(37% 0.077 168.94);
  --color-base-content: oklch(92% 0.006 264.531);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: oklch(54% 0.281 293.009);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(59% 0.249 0.584);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(77% 0.152 181.912);
  --color-neutral-content: oklch(26% 0.051 172.552);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
