@plugin "daisyui/theme" {
  name: "mylight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(95% 0.052 163.051);
  --color-base-content: oklch(26% 0.051 172.552);
  --color-primary: oklch(76% 0.177 163.223);
  --color-primary-content: oklch(30% 0.056 229.695);
  --color-secondary: oklch(79% 0.209 151.711);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(78% 0.154 211.53);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(55% 0.027 264.364);
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(26% 0.079 36.259);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(28% 0.109 3.907);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(28% 0.091 267.935);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(29% 0.136 325.661);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(26% 0.051 172.552);
  --color-base-300: oklch(37% 0.077 168.94);
  --color-base-content: oklch(97% 0.021 166.113);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(62% 0.194 149.214);
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: oklch(60% 0.126 221.723);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(87% 0.01 258.338);
  --color-neutral-content: oklch(14% 0.005 285.823);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(97% 0.017 320.058);
  --color-warning: oklch(55% 0.163 48.998);
  --color-warning-content: oklch(97% 0.013 236.62);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
