@plugin "daisyui/theme" {
  name: "mylight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.002 247.839);
  --color-base-300: oklch(97% 0.021 166.113);
  --color-base-content: oklch(26% 0.051 172.552);
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(30% 0.056 229.695);
  --color-secondary: oklch(72% 0.219 149.579);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(70% 0.14 182.503);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(55% 0.027 264.364);
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(26% 0.079 36.259);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(28% 0.109 3.907);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(28% 0.091 267.935);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(29% 0.136 325.661);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(13% 0.028 261.692);
  --color-base-300: oklch(26% 0.051 172.552);
  --color-base-content: oklch(97% 0.021 166.113);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(62% 0.194 149.214);
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(87% 0.01 258.338);
  --color-neutral-content: oklch(14% 0.005 285.823);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(26% 0.079 36.259);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(28% 0.109 3.907);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(28% 0.091 267.935);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(29% 0.136 325.661);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
