---
import IndexPage from "../../layouts/IndexPage.astro"

import { getCollection } from "astro:content"
const posts = await getCollection("docs")

import { containsTag, EXTRA_TAGS, linkSite } from "../../consts"
const tags = [
  ...EXTRA_TAGS,
  ...new Set(posts.map((post: any) => post.data.tags).flat()),
]
const tagLength = (tag: string) => containsTag(posts, tag).length
---

<IndexPage title="所有标签">
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2"
  >
    {
      tags
        .sort((a, b) => a.localeCompare(b))
        .sort((a, b) => tagLength(b) - tagLength(a))
        .map((tag: any) => (
          <div>
            <a
              class={`badge badge-neutral badge-outline badge-soft link link-hover ${tag}`}
              href={linkSite(`/tags/${tag}`)}
            >
              {tag}
            </a>
            <span class="text-sm">{tagLength(tag)} 篇</span>
          </div>
        ))
    }
  </div>
</IndexPage>
