---
---

@import "{{ site.theme }}";

footer{
    display: none;
}

.top {
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.nav-foot {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(150deg, #159957, #021f11);
    position: fixed;
    bottom: 3rem;
    right: 0rem;
    opacity: 80%;
}

.nav-foot div {
    margin-top: auto;
    margin-bottom: auto;
    height: 2.5rem;
    width: 2.5rem;
    align-content: center;
    display: flex;
}

a.nav-foot-link {
    margin-top: auto;
    margin-bottom: auto;
    width: 2.5rem;
    text-align: center;
}

.post-list h2 {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.post-meta :first-child {
    margin-top: auto;
}

.post-preview {
    margin-top: 0;
}

.post-list {
    list-style-type: square;
}

.tag {
    margin-left: 1rem;
    padding-left: 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding-right: 0.2rem;
    border-color: #606c71;
    font-size: 0.6rem;
    margin-top: auto;
    margin-bottom: auto;
}

.tag a {
    color: inherit;
    text-decoration: underline;
}

.FIN {
    color: darkgreen;
    background-color: #d5ffd5;
}

.TBC {
    color: #c40909;
    background-color: #ffefd0;
}

.BatLantern {
    color: lightgreen;
    background-color: #14500b;
}

.JayTim {
    color: #f3c1c1;
    background-color: darkred;
}

.category {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0.8rem;
}

.category a {
    color: #3d9ad2;
}

h2 a {
    color: blueviolet;
}

.length {
    padding-left: 0.5rem;
}
.ad-text {
    float: right;
    font-size: 0.9rem;
    line-height: 100%;
    padding-left: 5%;
}
.ad {
    color: brown;
    background: antiquewhite;
    padding-left: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.head img {
    border-radius: 50%;
}

.head {
    float: left;
    width: 20%;
}
.weibo-ad {
    background: antiquewhite;
    overflow: hidden;
    height: 0px;
    display: flex;
}
.blank {
    height: 1rem;
}
.ad-content {
    width: 75%;
}
.main-content h1 {
    margin-top: 1rem;
}
.main-content :first-child {
    margin-top: auto;
}

.page-header {
    padding: 0;
}

.nav-head {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.nav-head-item {
    padding: 0.3rem 1rem 0.3rem 1rem;
    float: right;
    background-color: rgba(97, 159, 161, 0.7);
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
}

.nav-head-item a {
    color: white;
    text-decoration: none;
}

.nav-head-wrapper {
    width: 15rem;
    margin-left: auto;
}

.headtag {
    margin-left: 0rem;
    font-size: 0.7rem;
    border-radius: 15px;
}

.headtag a {
    text-decoration: none;
}

.project-head {
    padding: 4rem 5rem;
}

.post-meta span {
    display: inline-block;
}

.password-require {
    text-align: center;
    color: black;
    line-height: 1rem;
    margin-top: 40vh;
}

button {
    font-size: 1rem;
}
