---
---

@import "{{ site.theme }}";

.post-card {
    padding: 0.5rem;
    margin: 3rem auto;
    display: table;
    width: 100%;
}

.post-meta {
    float: right;
}

.post-content {
    margin-left: 0.5rem;
    margin-top: 1.3rem;
}

.post-content a {
    text-decoration: none;
    color: inherit;
}

.post-content h2:first-child {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
}

.post-preview {
    font-size: 0.9rem;
    margin: 0.5rem 1rem;
}

.post-meta-tag {
    float: right;
    display: flex;
    margin-top: 0.3rem;
}

.tag {
    margin: 0.25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #606c71;
    font-size: 0.6rem;
    background: whitesmoke;
    color: cadetblue;
    display: block;
}

.tag-display {
    float: inline-start;
    font-size: 1.1rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 1rem;
}

.tag-display a {
    color: inherit;
    text-decoration: none;
}

.FIN {
    color: darkgreen;
    background-color: #d5ffd5;
}

.TBC {
    color: #c40909;
    background-color: #ffefd0;
}

.BatLantern {
    color: lightgreen;
    background-color: #14500b;
}

.JayTim {
    color: #f3c1c1;
    background-color: darkred;
}

.\32 025蝙绿企划 {
    color: darkgreen;
    background: white;
}

.武侠au {
    color: coral;
    background: #56172e;
}

.叶攻 {
    color: whitesmoke;
    background: crimson;
}

.category {
    margin: auto 0.5rem;
    background: rgb(208, 229, 252);
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    color: #3d9ad2;
    text-align: center;
    display: block;
}

.category-display {
    border-radius: 0.2rem;
}

.DC {
    color: #f9efef;
    background: rgb(116, 183, 244);
}

.全职 {
    color: red;
    background: rgb(255, 240, 240);
}
.AI评价 {
    color: rgb(77, 107, 254);
    background: white;
}

.date {
    margin: auto 0.5rem;
    font-size: 0.7rem;
}

.length {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #159957;
}

footer,
.btn {
    display: none;
}

.top {
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.length-info {
    font-size: 0.9rem;
    line-height: initial;
    white-space: nowrap;
    margin: auto;
    font-weight: normal;
}

.nav-head {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    align-items: center;
}

.nav-head-item {
    float: right;
    background-color: rgba(97, 159, 161, 0.7);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin: 0 0.5rem;
    padding: 0.3rem 1rem;
    opacity: 88%;
    color: white;
}

.nav-head-tags {
    margin-top: -0.95rem;
}

.nav-head-category {
    width: max-content;
}

.nav-head-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.headtag {
    margin: auto 0.1rem auto 0.1rem;
    font-size: 0.7rem;
    border-radius: 15px;
}

.project-head {
    padding: 4rem 5rem;
}

.nav-foot {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(150deg, #159957, #021f11);
    position: fixed;
    bottom: 3rem;
    right: 0rem;
    opacity: 80%;
}

.nav-foot div {
    margin-top: auto;
    margin-bottom: auto;
    height: 2.5rem;
    width: 2.5rem;
    align-content: center;
    display: flex;
}

a.nav-foot-link:first-child {
    margin-top: auto;
    margin-bottom: auto;
    width: 2.5rem;
    text-align: center;
}

.ad-text {
    float: right;
    font-size: 0.9rem;
    line-height: 100%;
    padding-left: 5%;
}
.ad {
    color: brown;
    background: antiquewhite;
    padding-left: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.head img {
    border-radius: 50%;
}

.head {
    float: left;
    width: 20%;
}
.weibo-ad {
    background: antiquewhite;
    overflow: hidden;
    height: 0px;
    display: flex;
}
.blank {
    height: 1rem;
}
.ad-content {
    width: 75%;
}
.main-content h1 {
    margin-top: 1rem;
}

.password-require {
    text-align: center;
    color: black;
    line-height: 1rem;
    margin-top: 40vh;
}

button {
    font-size: 1rem;
}
