---
layout: default
---

<h1>重定向</h1>
文件已移动，重定向中...
<button onclick="jump_to({{site.redirect_back}})">111</button>

<script>
    var redirect = [{
        "src": "/test/1",
        "tar": "/todo",
    }]
    function jump_to (back) {
        var target = back
        at = window.location.pathname
        for (var i in redirect) {
            if (at == redirect[i].src) {
                target = redirect[i].tar
                break
            }
        }
        window.location.href = target
    }
    setTimeout(jump_to(), 0)
</script>