---
layout: default
---

<h1>重定向</h1>
文件已移动，重定向中...
<button onclick="jump_to('{{site.redirect_back}}')">点此跳转</button>

<script>
    var redirect = [
        {
            "src": "/batlantern/漫画互动总结",
            "tar": "/docs/batlantern/漫画互动总结"
        }
    ]
    function jump_to (back) {
        var target = back
        at = window.location.pathname
        for (var i in redirect) {
            if (at == redirect[i].src) {
                target = redirect[i].tar
                break
            }
        }
        window.location.href = target
    }
    setTimeout(jump_to(), 0)
</script>