---
layout: default
---

<head>
  {% include head_jump.html url=page.target %}
</head>

{% unless page.no_nav %}
  <script>
    header=document.getElementsByClassName("page-header")[0]
    header.insertAdjacentHTML("beforeend",{% raw %}`{% endraw %}{% include nav_head.html %}{% raw %}`{% endraw %})
    {% if page.count %}
      title=document.getElementsByClassName("project-name")[0]
      title.insertAdjacentHTML("afterend",`<h3 class="length-info">{{ page.count }}字</h3>`)
    {% endif %}
  </script>
{% endunless %}

{% if site.ad %}
  {% include ad.html %}
{% endif %}

{{ content }}

{% unless page.no_nav %}
  {% include passlock.html %}
  {% include nav_foot.html %}
{% endunless %}
