---
layout: default
---

<head>
  {% include head_jump.html url=page.target %}
</head>

{% unless page.no_nav %}
  <script>
    header=document.getElementsByClassName("page-header")[0]
    header.insertAdjacentHTML("beforeend",{% raw %}`{% endraw %}{% include nav_head.html %}{% raw %}`{% endraw %})
    header.insertAdjacentHTML("afterbegin","<h3>{{ page.length }}字</h3>")
  </script>
{% endunless %}

{% if site.ad %}
  {% include ad.html %}
{% endif %}

{{ content }}

{% unless page.no_nav %}
  {% include passlock.html %}
  {% include nav_foot.html %}
{% endunless %}
