---
layout: basic
---

{% assign time = 0 %}
{% assign targetname = page.target %}

{% if page.time %}
{% assign time = page.time %}
{% endif %}

{% if page.targetname %}
{% assign targetname = page.targetname %}
{% endif %}

{% capture title %}Redirecting to {{ targetname }}{% endcapture %}
{% if page.targettitle %}
{% assign title = page.targettitle %}
{% endif %}

<h1>{{ title }}</h1>

{{ content }}
<p>This document has moved!</p>
{% endif %}

<p>Redirecting to <a href="{{ page.target }}">{{ targetname }}</a> in {{ time }} seconds.</p>

<script>
    setTimeout(window.location.href = {{ target }}, 0)
</script>

</body>