---
import "../styles/global.css"
import Header from "../components/Header.astro"
import { linkSite, SITE_ROOT, linkName } from "../consts"
const { title } = Astro.props
const { url } = Astro
let crumbs = []
let paths = url.pathname.replace(SITE_ROOT, "").split("/")
for (let i = 0; i < paths.length; i++) {
  crumbs.push(paths.slice(0, i + 1).join("/"))
}
if (crumbs.length > 3) {
  crumbs = [...crumbs.slice(0, 3), ...crumbs.slice(-1)]
}
crumbs.pop()
if (crumbs.length == 1) {
  crumbs.pop()
}
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={linkSite("favicon.svg")} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="hero min-h-64 mb-12 bg-linear-to-br from-primary to-secondary">
      <!-- <div
        class="breadcrumbs text-sm ml-6 mr-auto mt-2 mb-auto text-neutral-content"
      >
        <ul>
          {
            crumbs.map((p) => (
              <li>
                <a href={linkSite(p)} class="link">
                  {linkName(p)}
                </a>
              </li>
            ))
          }
        </ul>
      </div> -->
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1><slot name="title" /></h1>
          <p class="text-sm text-base-100/70">
            <slot name="description" />
          </p>
          <slot name="header" />
        </div>
      </div>
    </div>
    <main>
      <slot />
    </main>
  </body>
</html>
